[Unit]
Description=FootballVision Recording API
After=network.target nvargus-daemon.service

[Service]
Type=simple
User=mislav
WorkingDirectory=/home/mislav/footballvision-pro
Environment="SFTP_HOST=100.82.2.46"
Environment="SFTP_USERNAME=admin"
Environment="SFTP_PASSWORD=1307988"
Environment="SFTP_REMOTE_DIR=/recordings"
Environment="SEGMENT_UPLOAD_DELAY_SECONDS=600"
ExecStart=/usr/bin/python3 /home/mislav/footballvision-pro/src/platform/simple_api.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
